#map {
    position: initial;
    margin: auto;
    top: 0;
    bottom: 0;
    width: inherit;
    height: 400px;
}

#titleBox {
    position: relative;
    height: 50px;
    width: 800px;
    background: #666;
    border-radius: 1px;
    right: 0;
    left: 0;
    top: 20px;
    margin: auto;
    border: 2px solid #AFAFAF;
    font-size: 20px;
    font-weight: bold;
    line-height: 46px;
    text-align: center;
}

#titleBox p {
    position: relative;
    bottom: 20px;
}

#chartBox {
    position: absolute;
    height: 100px;
    width: 800px;
    background: #666;
    border-radius: 10px;
    right: 0;
    left: 0;
    bottom: 20px;
    margin: 0 auto;
    border: 2px solid #AFAFAF;
}

svg text {
    fill: #fff;
}

svg line {
    stroke: #fff;
    stroke-width: 1px;
}

svg .domain {
    stroke: #fff;
    fill: none;
}

svg rect {
    fill: #00AEF7;
    opacity: .4;
    stroke: #FFF;
}
